@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proximanova-bold-webfont.eot);
  src: url(../fonts/proximanova-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova-bold-webfont.woff) format("woff"), url(../fonts/proximanova-bold-webfont.ttf) format("truetype"), url(../fonts/proximanova-bold-webfont.svg#ProximaNovaBold) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proximanova-boldit-webfont.eot);
  src: url(../fonts/proximanova-boldit-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova-boldit-webfont.woff) format("woff"), url(../fonts/proximanova-boldit-webfont.ttf) format("truetype"), url(../fonts/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic) format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proximanova-reg-webfont.eot);
  src: url(../fonts/proximanova-reg-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova-reg-webfont.woff) format("woff"), url(../fonts/proximanova-reg-webfont.ttf) format("truetype"), url(../fonts/proximanova-reg-webfont.svg#ProximaNovaRegular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proximanova-regit-webfont.eot);
  src: url(../fonts/proximanova-regit-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova-regit-webfont.woff) format("woff"), url(../fonts/proximanova-regit-webfont.ttf) format("truetype"), url(../fonts/proximanova-regit-webfont.svg#ProximaNovaRegularItalic) format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'proxima-nova';
  src: url(../fonts/proximanova-sbold-webfont.eot);
  src: url(../fonts/proximanova-sbold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova-sbold-webfont.woff) format("woff"), url(../fonts/proximanova-sbold-webfont.ttf) format("truetype"), url(../fonts/proximanova-sbold-webfont.svg#ProximaNovaSemibold) format("svg");
  font-weight: 600;
  font-style: normal; }